html {
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 200;
  font-size: 36px;
  color: white;
  background-color: black;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center
}

h1 {
  font-weight: 200
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

li {
  margin-bottom: 0.8em;
}

a:link {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: #ddd;
}

.media {
  display: block;
}

li.pane {
  margin-bottom: 2em;
  padding: 0.5em;
  margin-bottom: 2em;
  text-align: center;
}

.entry-meta {
  color: hsl(341, 10%, 20%);
  font-weight: bold;
}

.media-caption {
  display: none;
}

.time-stamp {
  margin-bottom: 1em;  
}

.pane video,img {
  width: 100%;
}

footer {
  padding: 2em;
}

@media all and (max-width: 414px) {
  body {
    font-size: 12px;
  }
  
  .name {
    font-size: 1em;
  }
}
